.blobs-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(38, 27, 74, 0.05);
    filter: blur(15px);
    z-index: -1;
}

@keyframes full-rotation {
    0% {
        transform: rotateZ(0deg) scale(1);
    }
    100% {
        transform: rotateZ(360deg) scale(1.5);
    }
}

.blob {
    border-radius: 100vh;
    background: radial-gradient(circle at 0% 0%, #7CFF6B, #0A8270);
    /* animation: full-rotation 5s ease-in-out infinite alternate, bounceIn 1s 0s; */
    position: absolute;
}

.blob:nth-of-type(1) {
    width: 10vh;
    height: 10vh;
    left: 5vh;
    bottom: 50vh;
}
.blob:nth-of-type(2) {
    width: 25vh;
    height: 25vh;
    left: 20vh;
    bottom: 10vh;
}
.blob:nth-of-type(3) {
    width: 15vh;
    height: 15vh;
    left: 35vh;
    bottom: 25vh;
}
.blob:nth-of-type(4) {
    width: 30vh;
    height: 30vh;
    top: -2vh;
    right: 2vh;
}
.blob:nth-of-type(5) {
    width: 10vh;
    height: 10vh;
    top: 40vh;
    right: 5vh;
}

.lessons-wrapper section {
    padding: 6vh 30vw 6vh 10vw;
}

html {
    font-size: 18pt;
    overflow-y: auto;
}

.top-section {
    font-size: 1.2rem;
}

h1 {
    margin-bottom: 4vh;
}

.lessons-section {
    display: grid;
    grid-template-columns: 3vw auto;
    grid-template-rows: 1fr 1fr;
    column-gap: 5vw;
    row-gap: 3vh;
    border-top: 1px solid #FFE2FF80;
}

.lessons-section:hover {
    transition: background-color 0.2s;
    background-color: #FFE2FF15;
    cursor: pointer;
}

.section-num {
    font-size: 1.6rem;
    grid-row-start: 1;
    grid-row-end: 3;
}

span.code {
    background-color: #FFE2FF4D;
    border-radius: 0.3rem;
    padding: 0.05rem 0.2rem;
    margin: 0 0.1rem;
}

#back-button {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 8.5vh;
    left: 8vh;
}