.tree-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 5;
}

.command-prompt-div {
    position: fixed;
    bottom: 1.5vh;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.command-prompt-div > * {
    width: 50vw;
}

#command-prompt {
    background: none;
    border: none;
    font-size: 1rem;
    width: inherit;
}

#command-prompt:focus {
    outline: none;
}

.prompt-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
    background-color: #FFE2FFE6;
    border: none;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    color: black;
}

.prompt-wrapper::before, .commands p::before {
    content: '$';
    color: inherit;
    margin-right: 0.5rem;
    font-family: 'Consolas', 'Inconsolata', 'Courier New', monospace;
}

.commands {
    margin-bottom: 0.4rem;
    max-height: 19vh;
    height: fit-content;
    overflow-y: scroll;
    opacity: 0.7;
    user-select: text;
}

.commands::-webkit-scrollbar {
    display: none;
}

#perform-button {
    transform: rotateZ(90deg);
    height: 1rem;
    filter: brightness(0);
}

svg g text, svg g use {
    pointer-events: stroke;
    cursor: pointer;
}

svg g, svg path {
    animation: fadeIn 1s;
}

.low-opacity {
    opacity: 0.2;
}

.controls {
    z-index: 10;
    padding: 2vh;
    width: min-content;
    display: inline-flex;
    flex-direction: column;
    row-gap: 1vh;
}

.controls * {
    z-index: 10;
}

.controls button {
    padding: 0;
    animation: bounceIn 1s;
}

.overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.window {
    padding: 2vh;
    background-color: rgba(255, 226, 255, 0.29);
    border-radius: 3vh;
    overflow: hidden;
    height: fit-content;
    width: 50vw;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
}

.window .title {
    font-size: 1.3rem;
    display: block;
    width: 100%;
    text-align: center;
    margin: auto auto 4vh auto;
}

.window .code {
    padding: 0.1rem 0.3rem;
    border-radius: 0.3rem;
    border: 1px solid #261B4A;
}

#commands-window {
    font-size: 0.8rem;
}

#commands-window li {
    list-style: none;
    line-height: 2;
}

#commands-window li li{
    margin-left: 1rem;
}

.close-button {
    position: absolute;
    top: 2vh;
    right: 2vh;
    width: 4vh;
}

.modules {
    display: grid;
    grid-template-columns: 2rem auto 2rem;
    align-items: center;
    justify-content: center;
}

.module {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    line-height: 1.5;
    font-size: 0.9rem;
}

.module > * {
    margin-bottom: 0.7rem;
}

.next-arrow {
    justify-self: flex-end;
}

#previous-module {
    grid-column-start: 1;
    grid-column-end: 2;
}

#next-module {
    grid-column-start: 3;
    grid-column-end: 4;
}

#to-task-button {
    width: fit-content;
    grid-column-start: 1;
    grid-column-end: 4;
    background: linear-gradient(20deg, #0A8270, #7CFF6B);
    justify-self: center;
}